.popupStyle {
    display: flex;
    bottom: 20px;
    justify-content: space-between;
    border-radius: 10px;
}

.button {
    background-color: transparent;
    border: none;
    height: 4%;
    margin: 1%;
}

/* Target the scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Target the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 2px solid #f1f1f1;
}