.popupStyle {
    position: "fixed";
    bottom: "20px";
    right: "20px";
    width: "300px";
    height: "400px";
    background: "white";
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    z-index: 1000,
}