.popupStyle {
    position: fixed;
    display: flex;
    margin: auto;
    bottom: 20px;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    z-index: 1000;
    overflow-x: scroll;

}

.button {
    background-color: transparent;
    border: none;
    height: 4%;
    margin: 1%;
}

/* Target the scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Target the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 2px solid #f1f1f1;
}